body { font:16px/1.5 "Segoe UI", Segoe, Arial, sans-serif; }
pre { margin-top:0; }
ul { margin:0; padding:0; }
li { float:left; list-style:none; }

/* menu */
.menu { background:#f5f5f5; margin-bottom:10px; padding:10px; }
.menu:after { content:""; display:table; }
.menu:after { clear:both; }
.menu a { background:#efefef; border:#aaa solid 1px; color:#555; float:left; list-style:none; margin:0 2px; padding:4px 5px; text-transform:capitalize; }
.menu a:hover,
.menu a.selected { background:#fff; color:#000; }

/* multi-level menu */
.multi-level { height:120px; }
.multi-level li { position:relative; }
.multi-level ul ul { position:absolute; top:40px; left:0; width:600px; }

/* dropdown menu */
.dropdown { height:120px; }
.dropdown li ul { display:none; }
.dropdown li:hover ul { display:block; margin:30px 0 0 0; padding:0; position:absolute; }
.dropdown li:hover li { float:none; }

/* breadcrumb */
.breadcrumb { background:#f5f5f5; margin-bottom:10px; padding:10px; }
.breadcrumb a {color:#555; text-decoration:none; }
.breadcrumb a:last-child { color:#000; }
.breadcrumb a:last-child:after { content:none; }