@model LinkedList<INode>

@if (@Model.Any())
{
	Html.Raw("<nav>");
		<text>You are here:</text>
		var currentNode = @Model.First;
		@Html.ActionLink(currentNode)

		while (currentNode.Next != null)
		{
			<text> › </text>
			@Html.ActionLink(currentNode.Next)
			currentNode = currentNode.Next;
		}
	Html.Raw("</nav>");
}